html, body {
	margin: 0px;
	padding: 0px;
	font: 9pt Tahoma;
	height: auto;
	min-height: 100%;
}

.fl {float: left;}
.fr {float: right;}
.cb {clear: both;}

#fixer {
	width: 100%;
	height: auto;
	min-height: 100%;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#main {
	margin: 0px auto;
	width: 821px;
	border: 1px solid #CCC;
	border-top: 0px;
	border-bottom: 0px;
	background: white;
	box-shadow: 0px 0px 16px #DDE2ED;
}

#user_list {
	width: 219px;
	background: #FFF;
	border-right: 1px solid #dde2ed;
	-moz-box-shadow: 0px 0px 16px #DDE2ED;
    -webkit-box-shadow: 0px 0px 16px #DDE2ED;
    box-shadow: 0px 0px 16px #DDE2ED;
    /*
    overflow: hidden;
    position: fixed;
    top: 0px;
    */
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	/*
	z-index: 1;
	*/
}

#user_list .user {
	height: 30px;
	padding: 10px;
}

#user_list .user:hover {
	cursor: pointer;
	background-color: #fafafb;
}

.drop_dialog {
	visibility: hidden;
}

#user_list .drop_dialog {
	margin: 10px 8px;
}

.drop_dialog {
	margin: 2px 0px;
}

#user_list .user:hover .drop_dialog, .message:hover .drop_dialog  {
	visibility: visible;
	cursor: pointer;
}

.message.dropped:hover .drop_dialog {
	visibility: hidden !important;
	cursor: normal !important;
}

.message.dropped .drop img {
	visibility: visible !important;
}

.message.dropped .msg {
	color: #a6a6a6;
}

#user_list .fl {
	margin-top: 10px;
	line-height: 10px;
}

#user_list img {
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}

#user_list .fl img {
	margin-right: 5px;
}

#user_list .user_avatar {
	width: 30px;
	height: 30px;
	margin-top: 0px;
	background: url(../img/loader.gif) no-repeat;
	background-position: 7px 7px;
}

#chat { 
	width: 601px;
	position: relative;
}

#chat .dialog_user {
	background: #e4ecf7;
	border-bottom: 1px solid #d0d9e3;
	position: fixed;
	width: 601px;
	top: 0px;
}

#chat .dialog_write {
	position: fixed;
	width: 561px;
	bottom: 0px;
	height: 170px;
	padding: 10px 20px;
	font-size: 8.25pt;
	background: #FFF;
}

#chat .user_avatar img {
	width: 81px;
	height: 81px;
	background: url(../img/loader.gif) no-repeat;
	background-position: 7px 7px;
	margin: 10px;
	margin-left: 20px;
	border-bottom: 1px solid #FFF;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}

#chat .user_info, #chat .user_action {
	margin-top: 16px;
	line-height: 27px;
}

#chat .user_action {
	margin-right: 20px;
}

#chat .user_info a {
	font-size: 20px;
	color: #1270b8;
}

#chat .user_action a, #chat .dialog_write a, #chat .mark_text a, .tooltip a {
	font-size: 9pt;
	color: #1270b8;
	text-decoration: none;
	border-bottom: 1px dotted #1270b8;
}

#chat .dialog_write a {
	font-size: 8.25pt;
}

#chat .dialog_write img {
	float: left;
	margin-right: 5px;
	margin-top: 1px;
}

#chat .user_action a:hover, #chat .user_info a:hover, #chat .dialog_write a:hover, .tooltip a:hover {
	color: #0d4875;
	text-decoration: underline;
}

#chat .user_action a:hover, #chat .dialog_write a:hover, .tooltip a:hover {
	text-decoration: none;
}

#chat .dialog_messages {
	padding: 10px 0;
	margin-top: 102px;
	margin-bottom: 180px;
}

#chat .no_messages {
	background: #f1f5fb;
}

#user_list .active {
	background: #5986bd;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5986bd', endColorstr='#6699d6');
	background: -webkit-linear-gradient(#5986bd, #6699d6); 
	background: -moz-linear-gradient(top,  #5986bd,  #6699d6);  
	background: -o-linear-gradient(top,  #5986bd,  #6699d6); 
	background: -ms-linear-gradient(top,  #5986bd,  #6699d6);
	
	-moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.4) inset;
    -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.4) inset;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.4) inset;
    
    color: #FFF;
}

#user_list .expander {
	background: #f0f0f0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e9e9e9');
	background: -webkit-linear-gradient(#f7f7f7, #e9e9e9); 
	background: -moz-linear-gradient(top,  #f7f7f7,  #e9e9e9);  
	background: -o-linear-gradient(top,  #f7f7f7,  #e9e9e9); 
	background: -ms-linear-gradient(top,  #f7f7f7,  #e9e9e9);
	/*
	-moz-box-shadow: 0px 0px 1px rgba(0,0,0,1) inset;
    -webkit-box-shadow: 0px 0px 1px rgba(0,0,0,1) inset;
    box-shadow: 0px 0px 1px rgba(0,0,0,1) inset;
    */
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #9a9a9a;
    color: #303030;
}

.new_msg_cnt {
	background: #f47600;
	border-top: 1px solid #d86200;
	border-left: 1px solid #e96e00;
	border-right: 1px solid #e96e00;
	-moz-box-shadow: 0px 0px 3px #DDE2ED inline;
    -webkit-box-shadow: 0px 0px 3px #DDE2ED inline;
    box-shadow: 0px 0px 3px #DDE2ED inline;
    border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	font-size: 9px;
	color: #FFF;
	padding: 0 4px;
	margin: 10px 7px;
	margin-left: 0px;
	
}

.active .new_msg_cnt {
	background: #FFF;
	border: 0px;
	border-bottom: 1px solid #3d5b80;
    border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	color: #f47600;
	
}

textarea {
	width: 537px;
	height: 80px;
	border: 0px;
	margin: 10px 0;
	background: #f5f5f5;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9');
	background: -webkit-linear-gradient(#f5f5f5, #f9f9f9); 
	background: -moz-linear-gradient(top,  #f5f5f5,  #f9f9f9);  
	background: -o-linear-gradient(top,  #f5f5f5,  #f9f9f9); 
	background: -ms-linear-gradient(top,  #f5f5f5,  #f9f9f9);
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3) inset;
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.3) inset;
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3) inset;
	font: 9pt Tahoma;
	padding: 10px;
}

.send_gift, .send_star {
	margin-top: 11px;
	margin-left: 30px;
}

.send_gift img, .send_star img {
	margin-top: 0px !important;
}

.send_gift a, .send_star a{
	font-size: 9pt !important;
}

.button_blue button {
	border: 0px;
	font-size: 9pt Tahoma;
	color: #FFF;
	text-align: center;
  	border: 0;
	margin: 4px 0px;
	cursor: pointer;
	outline: none;
	height: 29px;
	width: 94px;
	border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
	-khtml-border-radius:3px;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.25);
   	background: #8996ab;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8996ab', endColorstr='#5e6f8d');
	background: -webkit-linear-gradient(#8996ab, #5e6f8d); 
	background: -moz-linear-gradient(top,  #8996ab,  #5e6f8d);  
	background: -o-linear-gradient(top,  #8996ab,  #5e6f8d); 
	background: -ms-linear-gradient(top,  #8996ab,  #5e6f8d);
	
	
    
}

.button_blue button:hover, .button_blue button:active {
	
	background: #99a6bc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99a6bc', endColorstr='#5e6f8d');
	background: -webkit-linear-gradient(#99a6bc, #5e6f8d); 
	background: -moz-linear-gradient(top,  #99a6bc,  #5e6f8d);  
	background: -o-linear-gradient(top,  #99a6bc,  #5e6f8d); 
	background: -ms-linear-gradient(top,  #99a6bc,  #5e6f8d);

}

.button_blue button:active {
	text-shadow: 0px 0px 1px rgba(0,0,0,0.8);
}


.tooltip {
	display: none;
	position: fixed;
	bottom: 315px;
	left: 47.8%;
	z-index: 999;
	width: 520px;
	margin-left: -127px;
	padding: 10px;
	opacity: 1;
	background-color: white;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.19);
	height: 75px;
	
}

.tooltip::before {
	border-top-color: #CCC;
	bottom: -11px;
}

.tooltip::before {
	content: "";
	position: absolute;
	z-index: 1000;
	bottom: -16px;
	left: 50%;
	margin-left: -10px;
	border-top: 16px solid rgba(0, 0, 0, .06);
	border-left: 16px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 0;
}

.tooltip::after {
	content: "";
	position: absolute;
	z-index: 1000;
	bottom: -11px;
	left: 50%;
	margin-left: -8px;
	border-top: 12px solid white;
	border-left: 12px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 0;
}

.tooltip h1 {
	font-size: 17px;
	font-weight: normal;
	line-height: 10px;
}

.tooltip .fr, .tooltip .fl {
	margin-top: 8px;
}

.tooltip img {
	margin: 2px 5px;
}

.tooltip .fr {
	cursor: pointer;
}

.tooltip .fr:hover a {
	color: #0d4875;
}

.tooltip .text {
	margin-top: 30px;
	text-align: center;
	color: #404040;
	opacity: 0.3;
}


.message {
	background: transparent;
}

.message .fl {
	padding: 4px;
}

.message:hover {
	background: #fafafb;
}

.message:hover .message .user_name {
	
}

.message .user_name {
	margin-left: 10px;
	text-align: right;
}

.message .time {
	color: #a6a6a6;
}

.message .drop {
	width: 9px;
	/*visibility: hidden;*/
	margin-right: 5px;
}

.message .drop img {
	margin-top: 4px;
	visibility: hidden;
}

.message .user_name a {
	color: #1270b8;
	text-decoration: none;
}

.message .user_name.out a {
	color: #a6a6a6;
}

.message .user_name a:hover, .message .user_name.out a:hover {
	color: #f27400;
}

#self_login {
	display: none;
}

#modal {
	position: fixed;
	top: 103px;
	width: 601px;
	background: url(../img/dx04.png);
	z-index: 1000;
	display: none;
	margin: 0px auto;
}

#modal .box {
	margin: 0px auto; 
	margin-top: 215px; 
	padding: 5px; 
	background: url(../img/dx06.png);	
}

#modal .box.del_message {
	width: 306px;
	height: 118px;
}

#modal .box.del_message .main {
	padding: 0px;
	height: 118px;
	position: relative;
}

#modal .box.del_message .del {
	color: #404040;
	padding: 12px;
}

#modal .box.del_message .msg {
	height: 39px;
	color: #969696;
	padding: 0 12px;
}

#modal .box.del_message .del_txt {
	padding: 8px 12px;
}

#modal .box.del_message .bottom {
	padding: 6px;
	height: 29px;
	position: relative;
	background: #EFEFEF;
}

#modal .box.del_message a {
	color: #969595;
}

#modal .box.del_message a:hover {
	color: #737373;
}

#modal .box.del_message .bottom .button_blue button {
	margin: 0px;
}

#modal .box.votes {
	width: 376px; 
	height: 90px;
}

#modal .box.votes .main {
	padding: 10px;
	width: 356px; 
	height: 70px;
	position: relative;
}


#modal .close {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 11px;
	height: 11px;
	cursor: pointer;
	background: url('../img/del.png');
	opacity: 0.5;
}

#modal .close:hover {
	opacity: 1;
}

#modal .box .main {
	background: #FFF;
}

#modal .box .main .stars {
	margin-top: 10px;
	color: #969696;
}

#modal .box .main .stars .star {
	background: url(../img/star_blue.png);
	text-align: center;
	font: bold 9pt Tahoma;
	color: white;
	cursor: pointer;
	padding-top: 14px;
	height: 22px;
	width: 34px;
	padding-right: 1px;
}

#modal .box .main .stars .star:hover {
	background: url(../img/star_hover.png);
	color: #000;
}

.ndsp {
	display: none;
}


.temp_dialog {
	-moz-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	-o-user-select: text;
	user-select: text;
}

.msg .mark {
	width: 56px;
	height: 22px;
	background: url(../img/star_big.png);
	padding: 19px 0;
	text-align: center;
	font-weight: bold;
	color: white;
	text-shadow: 1px 0 3px rgba(0, 0, 0, 0.8);
	font-size: 11pt;
	font-family: Verdana;
	padding-right: 4px;
	margin: 5px;
}

.msg .mark.heart {
	background: url(../img/heart.png);
}

.msg .mark.hearts {
	background: url(../img/hearts.png);
}

.msg .mark_text {
	height: 16px;
	padding: 22px 0;
	color: #a6a6a6;
	margin: 5px;
}

.msg .mark_text.hearts {
	padding: 10px 0;
	height: 30px;
}

.msg_repost {
	display: none;
}

#scroll_top, #scroll_bot {
	position: fixed;
	width: 220px;
	height: 52px;
	z-index: 10;
}

#scroll_top {
	top: 0px;
	background: url(http://cdn4.iconfinder.com/data/icons/cc_mono_icon_set/blacks/48x48/br_up.png) no-repeat;
	background-position-x: 85px;
	opacity: 0.1;
}
#scroll_bot {
	bottom: 0px;
	background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/48x48/br_down.png) no-repeat;
	background-position-x: 85px;
	opacity: 0.1;
}

#user_list_fix {
	overflow: hidden;
	position: fixed;
	top: 0px;
	height: 979px;
}